<div class="quiz">
  @if (quizService.error()){
    <div class="results">
       <div class="congratulations">Server error</div>
       <div class="results-info">
         <div>{{quizService.error()}}</div>         
       </div>
       <div class="next-button" (click)="start()"> Try start</div>
    </div>
  }
  @if (quizService.showResults()){
    <quiz-result-page></quiz-result-page>
  }

  @if (!quizService.showResults() && quizService.question().length>0) {
    <div>
      <div class="score">Question {{quizService.currentQuestionIndex()+1}}/{{quizService.question().length}}</div>
      <quiz-question />
      <div 
       (click)="quizService.goToNextQuestion()"
       [ngClass]="{'next-button':true, 
       'hide':!quizService.currentAnswer()}">Next question</div>
    </div>
  }    
</div>
  